span.input-field-error {
  display: block;
  content: "";
  position: absolute;
  top: 60px;
  opacity: 0;
  transition: .2s opacity ease-out, .2s color ease-out;
}

input.invalid + span.input-field-error {
  font-size: 0.8rem;
  color: #F44336;
  opacity: 1;
}
